.container {
    max-width: 120rem; // max-width can decrease when there is not enough space; if less than 120rem, occupy the whole vw
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%; // flex-basis: set width for flex items

    display: flex;
    flex-direction: column; // changes the direction of the main-axis -> so that we can use justify content in a different direction (legal text to the bottom)
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;

    // TEST
    background-color: orangered;
    height: 80rem;

    flex: 1; // turn on flex-grow
}
